/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    background-color: grey;
    font-family: 'Roboto Condensed', sans-serif;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #681bb1, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



button {
    display: inline-block;
    background-color: #1fc7bf;
    //font-family: 'Roboto Condensed', sans-serif;
    width: 30%;
    height: 32px;
    border-radius: 25px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.027);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-right:20px;
    
}

button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-3px);
}
