<div class="mainContent">
    <div class="register">
        <form class="example-form" [formGroup]="registerForm" (submit)='register()'>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Name</mat-label>
              <input type="text" matInput formControlName = "name" placeholder="Ex. Gilben Ferolino">
              <mat-error *ngIf="registerForm.controls.name.hasError('required')">
                Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Age</mat-label>
                <input type="number" min="0" matInput formControlName = "age" placeholder="Ex. 20">
                <mat-error *ngIf="registerForm.controls.age.hasError('required')">
                  Age is <strong>required</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName = "email" placeholder="Ex. pat@example.com">
                <mat-error *ngIf="registerForm.controls.email.hasError('email') && !registerForm.controls.email.hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="registerForm.controls.email.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
              </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName = "password" >
                <mat-error *ngIf="registerForm.controls.password.hasError('required')">
                  Password is <strong>required</strong>
                </mat-error>
              </mat-form-field>

              <div class = "buttons">
                <button mat-raised-button color="primary" type = "submit" [disabled] = "!registerForm.valid">Register</button>
                <button mat-raised-button color="primary" (click) = "login()">Back to Login</button>
            </div>
          </form>
        
        
    </div>
</div>