<!-- dialog-box.component.html -->
<h1 mat-dialog-title><strong>{{action}} User</strong></h1>
<div mat-dialog-content>
  <p *ngIf="action === 'Delete'; else elseTemplate">
      Sure to delete <b>{{local_data.name}}</b>?
  </p>
  
  <ng-template #elseTemplate>
    <mat-form-field>
        <input placeholder="{{action}} Name" matInput [(ngModel)]="local_data.name">
      </mat-form-field>
      <mat-form-field >
        <input placeholder="{{action}} Age" matInput [(ngModel)]="local_data.age">
      </mat-form-field>
      <mat-form-field>
        <input placeholder="{{action}} Email" matInput [(ngModel)]="local_data.email">
      </mat-form-field>
   
  </ng-template>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>